@using u21430854_HW05.ViewModels
@model BookDetailsVM
@{
    ViewBag.Title = Model.bookDetails[0].book.name;
}

<h2>
    @Model.bookDetails[0].book.name -
    @if (Model.bookDetails[0].book.status == "Available")
    {
        <span style="color: green;">Book Available</span>
    }
    else
    {
        <span style="color: red;">Book Out</span>
    }
</h2><hr/>

<div class="row">
    <h4 class="col-10 text-left">Total borrows - @Model.bookDetails.Count()</h4>
    <div class="col-2 text-right">
        <a class="btn btn-outline-primary" href="@Url.Action("Students", "Home")">View students</a>
    </div>    
</div>
<hr/>

<table class="table table-striped mt-4">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Borrowed on</th>
            <th>Returned on</th>
            <th>Borrowed by</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.bookDetails.Count() > 0)
        {
            int i = 0;
            foreach (var borrow in Model.bookDetails)
            {
                i++;
                <tr>
                    <td>@borrow.id</td>
                    <td>@borrow.takenDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>
                        @if (i == 1 && borrow.book.status == "Out")
                        {
                            <span style="color: red;">Book out</span>
                        }
                        else
                        {
                            @borrow.broughtDate.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                    </td>
                    <td>@borrow.student.name @borrow.student.surname</td>
                </tr>
            }
        }
    </tbody>
</table>
