@using u21430854_HW05.ViewModels
@model DefaultVM
@{
    ViewBag.Title = "Books";
}

<head>
    <style>
        .search {
            margin-right: 0.5rem;
        }
    </style>    
</head>

<h2>Books</h2><hr/>

<div class="container-fluid mb-4">
    <div class="row">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "col-10"}))
        {
            <div class="row">
                <input class="search col-5" id="book-name" name="bookName" type="text" placeholder="Search book name.." />

                @Html.DropDownList("authorid", new SelectList(DefaultVM.bookAuthors, "id", "surname"), "Search author", new { @class = "search col-2" })
                @Html.DropDownList("typeid", new SelectList(DefaultVM.bookTypes, "id", "name"), "Search genre", new { @class = "search col-2" })

                <input type="submit" class="btn btn-success search col-2" value="Search" />
            </div>
        }

        <a class="btn btn-danger col-2" href="@Url.Action("Index", "Home")">Clear search</a>
    </div>
    
    
</div>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
            <th>Page count</th>
            <th>Points</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.books.Count() > 0)
        {
            foreach (var book in Model.books)
            {
                <tr>
                    <td>@book.id</td>
                    <td>@book.name</td>
                    <td>@book.author.surname</td>
                    <td>@book.genre.name</td>
                    <td>@book.pageCount</td>
                    <td>@book.point</td>
                    <td>
                        @if (book.status == "Available")
                        {
                            <span style="color: green;">@book.status</span>
                        }
                        else
                        {
                            <span style="color: red;">@book.status</span>
                        }
                    </td>                    
                    <td><button class="btn btn-primary">View</button></td>
                </tr>
            }
        }
        else
        {
            <tr style="font-size: 2rem;"><td colspan="8">There are no books in the library</td></tr>
        }
    </tbody>
</table>